* {
    /* border: 1px solid black; */
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
    /* background-color: rgb(229, 220, 248); */
}

.all-opinions h3 {
    color: white
}

.my-opinions h3 {
    color: white
}

.Grey {
    background-color: rgb(180, 179, 179);
    /* width: 100px; */
    /* height: 75px; */
    /* text-decoration: none; */
    /* margin: 0px; */
    /* display: inline-block; */
    width: 100%;
    height: 100%;
}

.Green {
    background-color: rgb(99, 204, 99);
    /* width: 100px;
    height: 75px; */
    /* text-decoration: none; */
    /* margin: 0px; */
    /* display: inline-block; */
    width: 100%;
    height: 100%;

}

.Red {
    background-color: rgb(241, 93, 93);
    /* width: 100px;
    height: 75px; */
    /* text-decoration: none; */
    /* margin: 0px; */
    /* display: inline-block; */
    width: 100%;
    height: 100%;


}

/* .Grey a, .Green a, .Red a {
    text-decoration: none;
} */

.Grey h3, .Green h3, .Red h3 {
    color: white
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
    color: #4183c4;
}

.large-logo {
    max-width: 150px;
    display: inline-block;

}

.large-header {
    font-size: 50px;
    display: inline-block;
    margin: 0px 0px 0px 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.auth-logo {
    display: inline-block;

}

.logo {
    max-width: 80px;
    display: block;
    margin: 5px auto;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.opinion-image {
    max-width: 300px;
}

.categories-followed p {
    display: inline;
}

.categories-followed:hover {
    background-color: rgba(211, 126, 77, 0.733);
}

.categories-followed svg {
    /* color: red; */
    cursor: pointer;
    float: right;
}

.title {
    text-align: center;
    background-color: #eee7fc;
    font-size: 35px;
    padding: .3% 0;
}

.all-opinions {
    /* background-color: #eae2f9;
    border-radius: 10px; */
    padding: 0 2%;
}

.category-name {
    margin-bottom: 2%;
    clear: both;
    /* padding: 1% 0; */
}

.category-name p {
    display: inline-block;
}

.category-name:first-child{
    margin-top: 2%;
}

.category-name svg {
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    margin-left: 10px;
}

.category-name h2 {
    text-align: center;
    float: left;
    position: relative;
    margin-bottom: 0;
    padding-left: 1%;
}

/* .category-name:not(:first-child) {
    border-top: 1px solid rgb(211, 209, 209);
} */

.black-h4 {
    color: black;
}

.label-image svg{
    cursor: pointer;
    font-size: 40px;
}

.text-area textarea {
    height: 160px;
}

.img_wrap {
    display: inline-block;
    position: relative;
}

.close {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    cursor: pointer;
}


.all-content {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    /* grid-template-columns: 15% 85%; */
    /* grid-template-columns: 16% 21% 21% 21% 21%; */

    grid-template-columns: 15% 21.25% 21.25% 21.25% 21.25%;

    grid-template-rows: repeat(5, 1fr);
    /* grid-template-rows: 20% auto; */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgb(229, 220, 248);
    height: 100%;
    /* padding: 0 1% 0 0; */
}

.navbar {
    grid-area: 1/1/6/2;
    border-bottom-width: 0;
    border-right-width: 2px;
    border-right-style: solid;
    /* border-right-color: rgba(34,36,38,.15); */
    border-right-color: rgb(144 147 150 / 15%);
    background-color: rgb(238 231 253);
    
}

.navbar .borderless {
    position: sticky;
    top: 0;
}

.main-content {
    grid-area: 1/2/6/6;
    /* margin-left: 1%; */
}

.card h3 {
    /* display: inline-block; */
    /* height: 100px;  */
    /* height: 100%;  */
    /* margin: 0px;  */
    /* padding: 25px 0px; */
}

.card a {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card .header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eae2f9;
}

.card {
    text-align: center;
}

.scrolling {
    overflow: auto;
    height: 140px;
    width: 100%;
}

/* .category-name {
    margin-bottom: 2%;
} */

.scrolling .card {
    flex: 0 0 auto;
}


.chat-box ul{
    list-style: none;
    margin: 0;
    padding: 0;
    /* width: 500px;
    height: 500px; */
}

.chat-box li {
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 2px;
}

.chat-box .my-message, .chat-box .their-message {
    clear: both;
    display: inline-block;
}

.time {
    font-size: 2vh;
}

.my-message {
    float: right;
    /* background-color: skyblue; */
}

.my-message li {
    background-color: skyblue;
}

.their-message {
    float: left;
}

.their-message li {
    background-color: lightgray;
}

.their-message li + .my-message li {
    border-bottom-right-radius: 5px;
}

.my-message li + .my-message li {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.messages-container {
    display: flex;
    /* margin: 0px; */
}


.convo-list {
    flex: 0 0 30%;
}

.messages {
    flex: 0 50%;
    height: 95vh;
    border: 1px solid grey;
    border-radius: 7px;
    padding: 0 3%;
    position: relative;
}

.messages form {
    position: absolute;
    bottom: 0;
    width: 80%;
    display: flex;
    margin-bottom: 3vh;
}

.messages textarea {
    width: 100%;
    flex: 0 0 100%;
}

.messages button {
    flex: 0 50%;
}


.messages h1 {
    text-align: center;
    border-bottom: 1px solid grey;
}

.sticky-opinion {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    /* align-items: center; */
    text-align: center;
}

/* .sticky-opinion button {
    margin-bottom: 5px;
} */

.opinions-placeholder {
    padding: 0 2% 4%;
    /* height: 100vh; */
}

.super-main-content {
    height: 100%;
}

body ::-webkit-scrollbar {
    height: 5px !important; 
}