.all-opinions h3 {
    color: white
}

.my-opinions h3 {
    color: white
}

.Grey {
    background-color: grey;
}

.Green {
    background-color: green;
}

.Red {
    background-color: red;
}

.Grey h3, .Green h3, .Red h3 {
    color: white
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
    color: #4183c4;
}

.large-logo {
    max-width: 150px;
    display: inline-block;

}

.large-header {
    font-size: 50px;
    display: inline-block;
    margin: 0px 0px 0px 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.auth-logo {
    display: inline-block;

}

.logo {
    max-width: 80px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.opinion-image {
    max-width: 300px;
}

.categories-followed p {
    display: inline;
}

.categories-followed:hover {
    background-color: rgba(211, 126, 77, 0.733);
}

.categories-followed svg {
    /* color: red; */
    cursor: pointer;
    float: right;
}

.category-name svg {
    cursor: pointer;
    float: right;
}

.black-h4 {
    color: black;
}

.label-image svg{
    cursor: pointer;
    font-size: 40px;
}

.text-area textarea {
    height: 160px;
}

.img_wrap {
    display: inline-block;
    position: relative;
}

.close {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    cursor: pointer;
}

.all-content {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: 15% auto;
    grid-template-rows: repeat(5, 1fr);
    /* grid-template-rows: 20% auto; */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.navbar {
    grid-area: 1/1/6/2
}

.main-content {
    grid-area: 1/2/6/6;
}